{% extends 'base.html' %}
{% load static %}

{% block title %}Welcome{% endblock title %}

{% block content %}
<div class="container text-center my-5">
  <img src="{% static 'icons/hexagon_bulb-removebg.png' %}" alt="Зображення" class="w-25">
  <div class="fs-1 fw-bolder">Get free answers from other people here!</div>
</div>

<div class="fw-bold fs-4 text-center">Try to answer to these questions!</div>
<div id="carouselExample" class="carousel slide ">
  <div class="carousel-inner bg-dark bg-opacity-25  rounded-3">
    {% for question in questions %}
    <div class="carousel-item {% if forloop.first %}active{% endif %}">
      <div class="container" style="width: 70%;">

        {% include 'questionHub/includes/question_card.html' %}
      </div>
    </div>
    {% endfor %}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        What is Hexagon Bulb?
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">It's a site in that you can ask question? answer to other person's one or set poll and vice versa, bookmark questions(yet) maybe make friends.</div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        Who was created it?
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Me</div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
        How can i control my questions and polls?
      </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Imagine you have a couple of questions and polls, after filling a form you are able to edit, close and delete. But keep in your mind, once you close one, it is unavaliable to edit or reopen!</div>
    </div>
  </div>
</div>


{% endblock content %}