<div class="card-header border border-0 fw-semibold">
    {% if user == profile.user %}
    Your Profile Card
    {% else %}
    {{ profile.user.username }}'s Profile Card
    {% endif %}
</div>

<div class="card-body">
    {% if user == profile.user %}
    <div class="btn-group-vertical d-flex p-1">
        <div class="my-1">
            <a href="{% url 'members:profile-edit' %}">
                <div class="btn btn-primary"><i class="fa-solid fa-pen-to-square me-3"></i>Edit profile</div>
            </a>
        </div>
        <div class="my-1">
            <a href="{% url 'members:logout' %}">
                <div class="btn btn-danger"><i class="fa-solid fa-right-from-bracket me-3"></i>Logout</div>
            </a>
        </div>
    </div>
    {% endif %}
    <img src="{{ profile.get_avatar }}" alt="" width="25%" class="rounded-circle">
    <h5 class="card-title p-2 fw-bolder fs-3">{{ profile.user.username }}</h5>
    <p class="card-text">
        {% if profile.biography %}
        {{ profile.biography }}
        {% endif%}
    </p>
</div>

<div class="card-footer text-body-secondary">
    Joined: {{ profile.joined_at|date:"M d Y" }}
</div>

  