{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Ask your question!{% endblock %}

{% block content %}
<div class="container mx-auto my-2 py-3 border border-2 rounded-2">
    <div class="fw-bold mx-3 fs-5 text-start fst-italic"><p class="fs-4">He who asks a question is a fool for five minutes; he who does not ask a question remains a fool forever.</p> -Chinese proverb</div>
    <form action="{% url 'questionHub:ask' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-primary btn-lg ms-5" type="submit">Publish</button>
    </form>
</div>


{% endblock %}