{% extends 'base.html' %}

{% block title %}The question is {{question.title}}{% endblock %}

{% block content %}
 <div class="container mx-auto my-3 text-center border border-primary border-3 rounded-2">
  <div class="container overflow-hidden text-center">
    <div class="row gx-5 mt-4">
      <div class="col-2 text-start">
        <div class="p-3 text-wrap">Author: {{ question.author }}</div>
      </div>
      <div class="col text-start">
        <div class="p-2"><p class="fw-normal fs-3">{{ question.title }}</p></div>
      </div>
    </div>
  </div>
    <hr class="border border-dark border-2">
        <div class="row row-cols-5 row-cols-lg-6">
          <div class="col">
            <div class="p-3"><p class="italic">Asked: {{ question.created_at|timesince}} ago </p></div>
          </div>
          <div class="col">
            <div class="p-3"><p class="italic">Modified: {{ question.updated_at|timesince}} ago </p></div>
          </div>
          <div class="col">
            <div class="p-3"><p class="italic">Author: {{ question.author}} </p></div>
          </div>
          <div class="col">
            <div class="p-3">Relates to category: {{question.category}}</div>
          </div>
        </div>
        <hr class="border border-dark border-2">
        <div class="container mx-auto border-2">
          <p class="fs-5">{{question.content}}</p>
        </div>

        <div class="btn btn-secondary" id="toggleButton" onclick="toggleForm()"><i class="fa-solid fa-plus me-3"></i>Answer</div>
        
        <div class="container" id="toggleForm" style="display: none;">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <span class="input-group-text" id="basic-addon2">@example.com</span>
          </div>
        </div>

        <!--Тут має бути список відповідей-->
</div>

<script>
        function toggleForm() {
            var button = document.getElementById("toggleButton");
            var form = document.getElementById("toggleForm");
    
            if (button.style.display === "none") {
                button.style.display = "block"; // Показуємо кнопку
                form.style.display = "none"; // Ховаємо поле вводу
            } else {
                button.style.display = "none"; // Ховаємо кнопку
                form.style.display = "block"; // Показуємо поле вводу
            }
        }
</script>
{% endblock %}
