{% extends 'base.html' %}

{% block title %}Question Hub{% endblock %}

{% block content %}

<div class="container-fluid mx-3">
    <div class="container-fluid px-4">
        <div class="row gx-5">
          <div class="col-12 col-md-4 my-2 border-black border-4">
            <div class="container py-1 text-black border border-2 rounded-2">
              <p class="fw-bolder mb-4">The latest questions!</p>
              {% for question in latest_questions %}

              {% include 'questionHub/includes/question_card_mini.html' %}

              {% endfor %}
            </div>
            <div class="container rounded-2 py-1 my-2">
              <p class="fw-bolder mb-4">Here's your ad!</p>

            </div>
          </div>
          <div class="col-12 col-md-8">
            <div class="container px-4 text-center text-black">
              <div class="row gx-5">
                <div class="col-7">
                 <div class="p-3"><p class="fs-4 fw-normal">Questions that are waiting for answers!</div>
                </div>
                <div class="col">
                  <div class="p-3 d-flex justify-content-end"><a href="{% url 'questionHub:ask' %}"><div class="btn btn-primary text-white fw-bold fs-6">Ask a Question</div></a></div>
                </div>
              </div>
            </div>
            {% for question in questions %}

            {% include 'questionHub/includes/question_card.html' %}

            {% endfor %} 


              {% if is_paginated %}
              <div class="container d-flex justify-content-center">
                <nav aria-label="Page navigation">
                  <ul class="pagination">
                    {% if page_obj.has_previous %}
                    <li class="page-item">
                      <a class="page-link" href="?page=1" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                      </a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
                    </li>
                    {% endif %}
                    <li class="page-item active">
                      <span class="page-link">{{ page_obj.number }} <span class="sr-only">(current)</span></span>
                    </li>
                    {% if page_obj.has_next %}
                    <li class="page-item">
                      <a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                    </li>
                    {% endif %}
                  </ul>
                </nav>
              </div>
              {% endif %}
              

        </div>
      </div>
    </div>
      
</div>


{% endblock %}