{% extends 'base.html' %}

{% block title %}Question Hub{% endblock %}

{% block content %}
<div class="container-fluid mx-3">
    <div class="container-fluid px-4">
        <div class="row gx-5">
          <div class="col-12 col-md-4 my-2 border-black border-4">
            <div class="container py-1 text-black border border-2 rounded-2">
              <p class="fw-bolder mb-4">The latest questions!</p>
              {% for question in latest_questions %}

              {% include 'questionHub/includes/question_card_mini.html' %}

              {% endfor %}
            </div>
            <div class="container rounded-2 py-1 my-2">
              <p class="fw-bolder mb-4">Here's your ad!</p>
            </div>
          </div>
          <div class="col-12 col-md-8">
            <div class="container px-4 text-center text-black">
              <div class="row gx-5 align-items-center">
                <div class="col-7">
                 <div class="p-3"><p class="fs-4 fw-normal">Questions that are waiting for answers!</div>
                </div>
                <div class="col">
                  <div class="p-3 d-flex justify-content-end"><a href="{% url 'questionHub:ask' %}"><div class="btn btn-primary text-white fw-bold fs-6">Ask Question</div></a></div>
                </div>
              </div>
            </div>
            {% for question in questions %}

            {% include 'questionHub/includes/question_card.html' %}

            {% endfor %} 

              {% if is_paginated %}

              {% include 'includes/pagination.html' %}  <!--отримання пагінації з базових шаблонів templates-->

              {% endif %}

        </div>
      </div>
    </div>
      
</div>
{% endblock %}
