{% load static %}

<nav class="navbar navbar-expand-lg">
  <div class="container-fluid mx-auto rounded-1">
      <a class="navbar-brand fw-bold" href="{% url 'main:index' %}">
          <img src="{% static 'svg/bulb.svg' %}" alt="" width="70px"> Hexagon Bulb
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav me-auto">
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'questionHub:index' %}">Question Hub</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'pollFeed:index' %}">Poll Feed</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">About</a>
              </li>
          </ul>
          {% if user.is_authenticated %}
          <div class="dropstart">
              <a class="btn btn-ghost rounded-circle border-0 ms-2" data-bs-toggle="dropdown">
                  <img src="{{ user.profile.get_avatar_thumbnail }}" alt="Avatar" width="46px" class="rounded-circle">
              </a>
              <ul class="dropdown-menu shadow-lg">
                  <li><a class="dropdown-item" href="{% url 'members:profile-detail' user.profile.id %}">Profile</a></li>
                  <li><a class="dropdown-item" href="{% url 'members:logout' %}">Log out</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">What's new?</a></li>
              </ul>
          </div>
          {% else %}
            <div class="mx-1">
                <a href="{% url 'members:login' %}">
                    <div type="button" class="btn btn-secondary">Sign in</div>
                </a>
            </div>
            <div class="mx-1">
                <a href="{% url 'members:signup' %}">
                    <div type="button" class="btn btn-primary">Sign up</div>
                </a>
            </div>
          {% endif %}
      </div>
  </div>
</nav>
