@import '../node_modules/bootstrap/scss/_functions';
@import "../node_modules/bootstrap/scss/variables";
@import '../node_modules/bootstrap/scss/_variables-dark';

$primary: #152475;
$secondary: #111c35;
$grey: #c0c0c0;
$danger: #E43F5A;

$font-family-base: 'Roboto', sans-serif; // шрифт
$modal-fade-transform: translate(0, 20px); // появлення модального вікна


@media (max-width: 1024px) {
    .modal-dialog.modal-dialog-centered {
        align-items: flex-end;
    }

}

.navbar {
    background-color: #ffffff;
    // box-shadow: 0 10px 14px rgba(0, 0, 0, 0.1);
}

.btn.btn-primary,
.btn.btn-secondary,
.btn.btn-danger {
    border-radius: 10px;
}

.btn.btn-primary:hover {
    box-shadow: 0 2px 6px lighten($primary, 10%);
}

.btn.btn-secondary:hover {
    box-shadow: 0 2px 6px lighten($secondary, 10%);
}

.btn.btn-danger:hover {
    box-shadow: 0 2px 6px lighten($danger, 10%);
}



.card {

    .card-body,
    // .card-title,
    .card-header,
    .card-footer {
        color: #ffffff;
        background-color: darken($secondary, 5%);
    }

    transition: box-shadow 0.3s ease,
    transform 0.3s ease;
}

.card:hover {
    box-shadow: 0 6px 10px darken($secondary, 5%);
}

.pagination {

    .page-item {
        &.active .page-link {
            background-color: $primary;
            border-color: $primary;

        }
    }

    .page-link {
        color: #fff;
        background-color: $primary;
        border-color: $primary;
        transition: background-color 0.3s;

        &:hover {
            color: #ffffff;
            background-color: darken($primary, 10%);
            border-color: darken($primary, 10%);
        }

        &:active {
            background-color: darken($primary, 10%);
            border-color: darken($primary, 10%);
        }
    }
}

.dropdown-menu {

    .dropdown-item {
        transition: background-color 0.3s ease;

        &:hover {
            color: $light;
            background-color: darken($primary, 10%);
        }

        &:active {
            background-color: #000000;
        }
    }
}

.form-check {

    .form-check-input[type="checkbox"],
    .form-check-input[type="radio"] {
        background-color: $secondary;

        &:checked {
            background-color: $primary;
            border-color: $primary;
        }
    }
}


$theme-colors: map-merge($theme-colors, ("primary": $primary, "secondary": $secondary, "grey": $grey));

@import '../node_modules/bootstrap/scss/bootstrap';