{% extends 'base.html' %}

{% block title %}{{ profile.user.username }}{% endblock %}

{% block content %}
  {% include 'members/includes/profile_card.html' %}
  <div class="my-3">
    <a href="{% url 'members:user_questions' profile.id %}" class="btn btn-primary">View Questions</a>
    <a href="{% url 'members:user_polls' profile.id %}" class="btn btn-primary">View Polls</a>
    <a href="{% url 'members:user_bookmarks' profile.id %}" class="btn btn-primary">View Bookmarked Questions</a>
  </div>
{% endblock %}
