{% extends 'base.html' %}

{% block title %}{{ profile.user.username }} polls{% endblock %}

{% block content %}
<div class="container">
  <h2>{{ profile.user.username  }}'s Polls</h2>
  <div class="row">
    {% for poll in page_obj %}
      <div class="col-md-4">
        {% include 'pollFeed/includes/poll_card.html' %}
      </div>
    {% empty %}
      <div class="fw-bold fs-3 text-center">You didn't create any poll. Maybe you have a choice, but you don't know what to choose?</div>
      <div class="p-3 d-flex justify-content-center">
        <a href="{% url 'pollFeed:create' %}">
          <div class="btn btn-primary btn-lg text-white fw-bold fs-6 mt-4">Create Poll</div>
        </a>
      </div>
    {% endfor %}
  </div>

  <div class="d-flex justify-content-center">
    {% if page_obj.has_other_pages %}
    {% include 'includes/pagination.html' %}
    {% endif %}
  </div>

</div>
{% endblock %}
