{% extends 'base.html' %}

{% block title %}your polls{% endblock %}

{% block content %}
<div class="container">
  <h2>{{ profile.user.username }}'s Questions</h2>
  <div class="row">
    {% for question in page_obj %}
      <div class="col-md-4">
        {% include 'questionHub/includes/question_card.html' %}
      </div>
    {% empty %}
      <div class="fw-bold fs-3 text-center">You didn't ask anything. Perhaps, you already have a question?</div>
      <div class="p-3 d-flex justify-content-center">
        <a href="{% url 'questionHub:ask' %}">
          <div class="btn btn-primary btn-lg text-white fw-bold fs-6 mt-4">Ask Question</div>
        </a>
      </div>
    {% endfor %}
  </div>

  <div class="d-flex justify-content-center">
    {% if page_obj.has_other_pages %}
    {% include 'includes/pagination.html' %}
    {% endif %}
  </div>

</div>
{% endblock %}
