<footer class="text-center text-lg-start bg-black text-muted">
  <section class="mx-1 text-white">
    <div class="container text-center text-md-start mt-5">
      <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <div>
          <a href="#" class="me-4 text-light link-light link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
            <i class="fa-solid fa-paper-plane mx-2"></i>Telegram</a>
          <a href="#" class="me-4 text-light link-light link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
            <i class="fab fa-github mx-2"></i>Github
          </a>
        </div>
      </section>
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold fs-5 mb-4">Hexagon Bulb</h6>
          <p>
            Get free answers from other people here! 
          </p>
        </div>
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            Products
          </h6>
          <p>
            <a href="#!" class="text-light link-light link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">Angular</a>
          </p>
          <p>
            <a href="#!" class="text-light link-light link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">React</a>
          </p>
          <p>
            <a href="#!" class="text-light link-light link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">Vue</a>
          </p>
          <p>
            <a href="#!" class="text-light link-light link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">Laravel</a>
          </p>
        </div>
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            Useful links
          </h6>
          <p>
            <a href="#!" class="text-light link-light link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">Pricing</a>
          </p>
          <p>
            <a href="#!" class="text-light link-light link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">Settings</a>
          </p>
          <p>
            <a href="#!" class="text-light link-light link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">Orders</a>
          </p>
          <p>
            <a href="#!" class="text-light link-light link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">Help</a>
          </p>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p><i class="fas fa-home me-3 mx-1"></i>New York, NY 10012, US</p>
          <p>
            <i class="fas fa-envelope me-3 mx-1"></i>info@example.com</p>
          <p><i class="fa-solid me-3 fa-phone mx-1"></i>+380950010203</p>
        </div>
      </div>
    </div>
  </section>
  <div class="text-center text-white p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    &copy; 2024 Copyright:
    <a class="text-reset fw-bold text-light link-light link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
</footer>
