{% load static %}

<nav class="navbar navbar-expand-lg justify-content-center">
    <div class="container-fluid">
        <a class="navbar-brand fs-5 fw-semibold" rel="icon" href="{% url 'main:index' %}">
            <img src="{% static 'icons/hexagon_bulb-removebg-svg.svg' %}" alt="Hexagon Bulb Logo" width="60px" class="non-drag">Hexagon Bulb
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse align-items-center" id="navbarNav">
            <ul class="navbar-nav fs-6 me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'questionHub:index' %}">QuestionHub</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'pollFeed:index' %}">PollFeed</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'main:about-us' %}">About Us</a>
                </li>
            </ul>
            {% if is_user_authenticated %}
            <button type="button" class="btn btn-ghost border-0" data-bs-toggle="modal" data-bs-target="#mailModal">
                <img src="{{ user.profile.get_avatar_thumbnail }}" alt="User Avatar" class="rounded-circle non-drag" width="45px">
            </button>
            <div class="modal fade" id="mailModal" tabindex="-1" aria-labelledby="mainModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content border-2 border-secondary">
                        <div class="modal-header">
                            <h1 class="modal-title fw-bold fs-5" id="exampleModalLabel">{{ user.profile }}</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row row-cols-2">
                                <a href="{{ user.profile.get_absolute_url }}" class="link-offset-2 link-underline link-underline-opacity-0">
                                    <div class="btn btn-primary d-flex justify-content-start my-2">Profile</div>
                                </a>
                                <a href="{% url 'members:logout' %}" class="link-offset-2 link-underline link-underline-opacity-0">
                                    <div class="btn btn-danger d-flex justify-content-start my-2">Logout</div>
                                </a>
                                {% if user.is_superuser %}
                                <a href="/admin" class="link-offset-2 link-underline link-underline-opacity-0">
                                    <div class="btn btn-secondary d-flex justify-content-start my-2">Admin</div>
                                </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="mx-1">
                <a href="{% url 'members:login' %}">
                    <div class="btn btn-secondary my-1">Sign In</div>
                </a>
            </div>
            <div class="mx-1">
                <a href="{% url 'members:signup' %}">
                    <div class="btn btn-primary my-1">Sign Up</div>
                </a>
            </div>
            {% endif %}
        </div>
    </div>
</nav>
