<div class="card mb-4 border border-0 rounded-3" style="height: 90%;">
    <div class="card-body rounded-3">
        <h5 class="card-title fs-4 fw-semibold">{{ poll.text|truncatechars:"20" }}</h5>
        <h6 class="card-subtitle">By: {{ poll.author.username }}</h6>
        <p class="card-text">
            <small class="text-light">{{ poll.created_at|timesince }} ago</small>
        </p>
        <ul class="list-group list-group-flush">
            <div class="row">
                {% for choice in poll.choices.all %}
                <div class="col">
                    <li class="list-group-item my-1 rounded-3 bg-light">{{ choice.text|truncatechars:"30" }}</li>
                </div>
                {% endfor %}
            </div>
        </ul>
        <a href="{{ poll.get_absolute_url }}" class="btn btn-primary mt-3">Vote Now</a>
    </div>
</div>
