<div class="modal fade" id="closeBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Close Warning</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="{% url 'questionHub:close' question.id %}" method="post">
            {% csrf_token %}
            <div class="fs-4">Are you sure you want to Close? If you will do, you can't edit it anymore</div>
            <button type="submit" class="btn btn-danger mt-3">Yes, close</button>
          </form>
        </div>
      </div>
    </div>
</div>
