{% load static %}

<div class="card my-2 border border-0">
    <div class="card-header d-flex justify-content-start rounded-top text-black fs-6">
      <span class="badge text-bg-light align-self-center my-2">{{ question.category.name }}</span>
      {% if question.is_closed %}
      <span class="badge bg-secondary align-self-center text-light ms-2">Closed</span>
      {% endif %}
      {% if user.is_authenticated and user == question.author %}
      <div class="col text-end dropstart"><div class="btn btn-ghost dropstart" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="{% static 'svg/three-dots.svg' %}" alt="three dots">
      </div>
      <ul class="dropdown-menu">
        {% if not question.is_closed %}
        <li><a class="dropdown-item" href="{% url 'questionHub:update' question.slug %}">Edit</a></li>
        {% endif %}
        <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#deleteBackdrop">Delete</a></li>
      </ul></div>
        {% endif %}
    </div>
    <div class="card-body rounded-bottom-2">
      <div class="row gx-5">
        <div class="col-8">
         <div class="p-3">
          <a href="{{ question.get_absolute_url }}" class="link-offset-2 link-underline link-underline-opacity-0">
            <h5 class="card-title fs-3 text-black">{{ question.title|truncatechars:"30" }}</h5>
            <hr class="dropdown-divider">
            <p class="card-text fs-5 text-black">{{ question.content|truncatechars:"45" }}</p>
          </a>
         </div>
        </div>
        <div class="col-4">
          <div class="p-3 fs-6">By: {{ question.author }}
             <hr class="border-1">
            Asked at: {{ question.created_at|timesince }} ago</div>
        </div>
      </div>
    </div>
</div>

{% if user.is_authenticated and user == question.author %}
{% include 'questionHub/includes/delete_modal.html' %}
{% endif %}

