<div class="card my-2 border border-0">
    <div class="card-header d-flex justify-content-start rounded-top text-black">
        <span class="badge text-bg-light">{{ question.category.name }}</span>
        {% if question.is_closed %}
        <span class="badge bg-secondary text-light">Closed</span>
        {% endif %}
    </div>
    <div class="card-body">
      <div class="row gx-5">
        <div class="col-8">
         <div class="p-3">
          <a href="{{ question.get_absolute_url }}" class="link-offset-2 link-underline link-underline-opacity-0">
            <h5 class="card-title fs-3 text-black">{{ question.title|truncatechars:"30" }}</h5>
            <hr class="dropdown-divider">
            <p class="card-text fs-5 text-black">{{ question.content|truncatechars:"45" }}</p>
          </a>
         </div>
        </div>
        <div class="col-4">
          <div class="p-3 fs-6">By: {{ question.author }}
             <hr class="border-1">
            Asked at: {{ question.created_at|timesince }} ago</div>
        </div>
      </div>
    </div>
    {% if user.is_authenticated and user == question.author %}
    <div class="card-footer rounded-bottom">
      <a href="{% url 'questionHub:update' slug=question.slug %}" method="post"><div class="btn btn-primary rounded-3">Edit Question</div></a>
      <div class="btn btn-danger rounded-3" data-bs-toggle="modal" data-bs-target="#deleteBackdrop">Delete Question</div>
    </div>

    {% endif %}
</div>

{% if user.is_authenticated and user == question.author %}
{% include 'questionHub/includes/delete_modal.html' %}
{% endif %}

