{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Create Poll{% endblock %}


{% block content %}
<div class="container mx-auto">
    <div class="fs-3  fw-bold">
        Create Poll
    </div>
    <form action="{% url 'pollFeed:create' %}" method="post">
        {% csrf_token %}
        {{ poll_form|crispy }}
        <br>
        {% for answer_form in answer_forms %}
                {{ answer_form|crispy }}
            {% endfor %}
        <button type="submit" class="btn btn-primary">Publish</button>
    </form>
</div>

{% endblock %}
