{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Create Poll{% endblock %}


{% block content %}
<div class="container mx-auto border border-2 rounded-2">
    <div class="fs-3 fw-bold">
        Create Poll
    </div>
    <form action="{% url 'pollFeed:create' %}" method="post">
        <div class="container">
            <h1 class="fs-3">The question</h1>
        </div>
        {% csrf_token %}
        {{ poll_form|crispy }}
        <div class="container">
            <h1 class="fs-3">Choices</h1>
            <h1 class="fs-6">*Poll requires at least 2 choices to proceed*</h1>
        </div>
        <div class="row row-cols-5">
        {% for answer_form in answer_forms %}
        <div class="col">
            {{ answer_form|crispy }}
        </div>
        {% endfor %}
        </div>

        <button type="submit" class="btn btn-primary">Publish</button>
    </form>
</div>

{% endblock %}
