{% extends "base.html" %}

{% block content %}
<div class="container mx-auto">
    <h1 class="mt-4">{{ poll.text }}</h1>
    <p class="text-muted">Created by: {{ poll.author.username }} on {{ poll.created_at|date:"F j, Y" }}</p>

    {% if poll.is_closed %}
        <p class="text-warning">This poll is closed. Here are the results:</p>
        <div class="list-group">
            {% for choice in poll.choices.all %}
                <div class="mx-5 list-group-item d-flex justify-content-between align-items-center">
                    {{ choice.text }}<span class="fw-bold">{{ choice.votes }}</span>
                </div>
            {% endfor %}
        </div>
    {% else %}
        {% if user_has_voted %}
            <p class="text-success">You have voted for: {{ user_vote.text }}</p>
            <div class="list-group">
                {% for choice in poll.choices.all %}
                    <div class="list-group-item d-flex justify-content-between align-items-center">
                        {{ choice.text }}
                        <span class="badge badge-primary badge-pill">{{ choice.votes }}</span>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <form method="post" action="{% url 'pollFeed:vote' poll.id %}">
                {% csrf_token %}
                <div class="list-group">
                    {% for choice in poll.choices.all %}
                        <label class="list-group-item">
                            <input type="radio" name="choice" value="{{ choice.id }}" class="form-check-input me-2">
                            {{ choice.text }}
                        </label>
                    {% endfor %}
                </div>
                <button type="submit" class="btn btn-primary mt-3">Vote</button>
            </form>
        {% endif %}
        {% if user == poll.author %}
            <form method="post" action="{% url 'pollFeed:close' poll.id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger mt-3">Close Poll</button>
            </form>
        {% endif %}
    {% endif %}
</div>
{% endblock %}
